#profileImageContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#saveProfileButton {
    margin-top: 2rem;
    margin-right: 4.9rem;
}

#hoverText {
    margin-left: 1rem;
    display: absolute;
}

