.circle-icon {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.hoverable-image-container {
    position: relative;
    float: left;
    margin-right: 10px !important;
}

.circle-icon-hover {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    padding-top: 55px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    background-color: rgba(33, 150, 243, .3);
    color: white !important;
}

.circle-icon:hover + .circle-icon-hover {
    display: block;
    transition: .1s;
}

.circle-icon-hover:hover {
    display: block;
}

#circleIconUpload {
    background: grey;
    color: white;
}