#contactPreferencesDropdown {
    min-width: 100%;
}

#profileCardContainer, #contactInfoCardContainer, .input-button-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileCardContainer {
    padding-bottom: 1rem;
}

#profileImage, #contactFiller {
    width: 4rem;
    margin-left: 25%;
}

#editProfileButton {
    margin-left: 20%;
}

#editContactInfoButton {
    margin-left: 20%;
    margin-right: 1px;
}

#profilePhotoBlurb {
    font-size: 13px;
}

#profileName {
    font-size: 1.3rem;
}

#contactEmailText {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    height: 5rem;
}

.profile-title-text {
    text-transform: uppercase;
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    height: 5rem;
    width: 155px;
}

.profile-info, .contact-info {
    padding-left: 13%;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.input-button-cell {
    text-align: center;
}