/*All Programs table styles*/

/*Style the number column for all-program table*/
#allProgramTable tr td:nth-child() {
    width: 5%;
    padding: 5px;
    text-align: center;
    font-weight: normal;
}

/*Set width of the program name column*/
#allProgramTable tr td:nth-child(2) {
    width: 15%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bolder;

}

/*Set width of the contact column*/
#allProgramTable tr td:nth-child(3) {
    width: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

/*Set width of the description column*/
#allProgramTable tr td:nth-child(4) {
    width: 40%;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
}

/*Set width of the elegibility criteria column*/
#allProgramTable tr td:nth-child(5) {
    width: 30%;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
}


/*ADMINISTRATOR TABLE STYLES*/

/*Set width for number column*/
#adminTable tr td:nth-child() {
    width: 4%;
    text-align: center;
    font-weight: normal;
}

/*Set width for name column*/
#adminTable tr td:nth-child(2) {
    width: 24%;
    text-align: center;
    font-weight: normal;
}

/*Set width for email column*/
#adminTable tr td:nth-child(3) {
    width: 24%;
    text-align: center;
    font-weight: normal;
}

/*Set width for phone column*/
#adminTable tr td:nth-child(4) {
    width: 24%;
    text-align: center;
    font-weight: normal;
}

/*Set width for NACRN ID column*/
#adminTable tr td:nth-child(5) {
    width: 24%;
    text-align: center;
    font-weight: normal;
}

/*Center the column head text*/
#adminTable tr th {
    text-align: center;
}

/*Center checkboxes in their column*/
#adminTable td[scope="row"] {
    text-align: center !important;
}

/*Helper class for highlighted administrator rows*/
.currently-highlighted-admin-row {
    background: #E6F3FF !important;
}