



This document contains information about additional backend and frontend requirements that were not covered UI/UI engagement. It is important that we track these requirements and feature requests,
So, if it was to be built out to a full-fledged solution no backend logic will be lost.

*FRONTEND*
    1. Obtain High Resolution NACRN image from costumer, so it scales better.

*BACKEND*

De-Duping Process: 

    1. Create logic for merging records with same Social Security Number (SSN).
    2. Create logic for merging records that are likely to be a duplicate by comparing multiple fields.
    3. Due to lack of a backend we cannot showcase the associated “Global intake Management” status to coincide with “user type” selection that is made in the “manage users” tab when the “edit user” dialogue box is open. Currently we hard code the “Global intake Management” status to coincide with the tab selected (ex; Administrators, Power Userws, Care Coordinators, End Users)
    4. Alert end users monthly via their preferred contact method about what programs they qualify for via an email that is sent out monthly. 

"Threats and Vulnerabilities"
These are the risks that crossed our mind when developing the GUI:
    1. Cross-Site Scripting
    2. SQL Injection
    3. An admin user who decides to delete the database - this can be mitigated by taking regular backups and ensuring no admin has access to the backups as well.
    4. A power user does not need approval to add a question specific to their organization and could create a question that is inappropriate or takes personal information which does not have a business justification.



"additional possible GUI requirements"
    -Consider adding a “service type” drop down menu with discrete options (i.e., short descriptions of service types) so that you can have a searchable database of services available.  Also, it would be good if case managers could search for a particular service type (e.g., clothing, food, etc.) and obtain a list of providers located in the region/local area to be able to refer a customer to a specific provider. Address and website would also be useful program details fields.

    -I see that for contact, you can enter any information.  It would be good if in a separate field, the program could add a specific person that should be contacted with referrals.



